.btn{
    padding: 1em;
    cursor: pointer;
    display: inline-block;
    border: 1px solid rgb(66,66,66);
    margin: .5em;
    transition: all .1s ease-in-out;
    user-select: none;
    color: rgb(66, 66, 66);
    border-radius: .2em;
}
.btn:hover{
    transform: translateY(-.1em);
    box-shadow: 0px 5px black;
    color: black;
    border-color: red;
}
.btn:active{
    transform: translateY(0em);
    box-shadow: none;
    color: rgb(119, 103, 10);
    border-color: rgb(119,103,10);
}